/* 
    Document   : style
    Created on : Jul 21, 2012, 7:55:51 PM
    Author     : César Bolaños [cbolanos]
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body {
    background: #BABAC0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: #333;
}

#container {
    background: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 0 auto;
    width: 900px;
}

#header {
    background: #F3F6FB url(../img/banner-900x150.jpg) no-repeat;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 190px;
    position: relative;
    z-index: 200;
}

#corpse {
    background: #E3E7EE;
    height: 400px;
    position: relative;
    z-index: 200;
}

#nav {
    clear: left;
    height: 48px;
    left: 0;
    position: absolute;
    top: 150px;
}

#nav ul {
    float: left;
    list-style: none;    
    margin: 0;
    padding: 0;
}

#nav li {
    display: inline;
    float: left;
    margin: 0 1px 0 0;
    padding: 0;
    position: relative;
    z-index: 100;
}

#nav a {
    background: #000 url(../img/bright_094.gif) no-repeat right top;
    border: 0;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

#nav a span {
    background: url(../img/bleft_094.gif) no-repeat left top;
    color: #000;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: 700;
    line-height: 40px;
    padding: 0 45px 0 13px;
}

#nav a:hover
/*, #nav li.item_active a */
{
    background-position: right bottom;
}

#nav a:hover span
/*, #nav li.item_active a span */
{
    background-position: left bottom;
    color: #FFF;
    font-weight: 700;
    font-style: normal;
    text-decoration:none;
}

#user {
    clear: left;
    right: 0px;
    position: absolute;
    top: 150px;
}

/*#user ul {
    list-style: none;    
    margin: 0;
    padding: 0;
}

#user li {
    display: inline;
    float: right;
    margin: 0 -35px 0 0;
    padding: 0;
    position: relative;
    z-index: 100;
}

#user a {
    border: 0;
    display: block;
    float: right;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

#user li a span {
    color: #000;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: 700;
    line-height: 40px;
    padding: 0 35px 0 13px;
}*/

#bar {
    background: url(../img/bar.png) repeat right;
    height: 7px;
}

.claro-icon {
    background: #E5E9F0 url(../img/claro-48x48.png) no-repeat left !important;
}

.movistar-icon {
    background: #E5E9F0 url(../img/movistar-48x48.png) no-repeat left !important;
}

/*.x-panel-header {
    background: #E5E9F0;
    border-color: white;
    margin: 0 10px 0 0;
    padding: 0;
    text-align: right;
}

.x-panel-header-text {
    color: #000;
    font: 11px Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.x-panel-body {
    background-color: white;
    border-color: white;
}*/

ul.pureCssMenu ul {
    display: none
}

ul.pureCssMenu li:hover>ul{display:block}
ul.pureCssMenu ul{position: relative;left:0px;top:100%;}
ul.pureCssMenu ul ul{position: relative;left:0px;top:100px;}
ul.pureCssMenu,ul.pureCssMenu ul {
    margin:0px;
    list-style:none;
    padding:0px 0px 0px 0px;
    background-color:#f3f6fb;
    background-repeat:repeat;
    border-color:#f3f6fb #f3f6fb #f3f6fb #f3f6fb;
    border-width:0px;
/*    border-style:solid;*/
}
ul.pureCssMenu table {border-collapse:collapse}ul.pureCssMenu {
    display:block;
    zoom:0;
    float: right;
}
ul.pureCssMenu ul{
    width:50px;
    height: 48px;
}
ul.pureCssMenu li{
    display:block;
    margin:0px 0px 0px 0px;
    font-size:0px;
}
ul.pureCssMenu a:active, ul.pureCssMenu a:focus {
    outline-style:none;
}
ul.pureCssMenu a, ul.pureCssMenu li.dis a:hover, ul.pureCssMenu li.sep a:hover {
    display:block;
/*    vertical-align:center;*/
    background-color:#f3f6fb;
    border-width:0px;
    border-color:#f3f6fb;
    border-style:solid;
    text-align:left;
    text-decoration:none;
    padding:12px 12px 12px 12px;
    _padding-left:0;
    font:14px Arial;
    color: #000000;
    text-decoration:none;
    cursor:default;
}
ul.pureCssMenu span{
    overflow: visible;
}
ul.pureCssMenu li {
    float:right;
}
ul.pureCssMenu ul li {
    float:right;
}
ul.pureCssMenu ul a {
    text-align:right;
    white-space:nowrap;
}
ul.pureCssMenu li.sep{
    text-align:right;
    padding:0px;
    line-height:0;
    height:100%;
}
ul.pureCssMenu li.sep span{
    float:right;	padding-right:0;
    width:0px;
    height:100%;
    display:inline-block;
    background-color:#f3f6fb #f3f6fb #f3f6fb #f3f6fb;	background-image:none;}
ul.pureCssMenu ul li.sep span{
    width:100%;
    height:3px;
}
ul.pureCssMenu li:hover{
    position:relative;
}
ul.pureCssMenu li:hover>a{
    background-color:#004666;
    border-color:#e5e9f0;
    border-style:solid;
    font:14px Arial;
    color: #FFFFFF;
    text-decoration:none;
}
ul.pureCssMenu li a:hover{
    position:relative;
    background-color:#004666;
    border-color:#e5e9f0;
    border-style:solid;
    font:14px Arial;
    color: #FFFFFF;
    text-decoration:none;
}
ul.pureCssMenu li.dis a {
    color: #666 !important;
}
ul.pureCssMenu img {border: none;float:left;_float:none;margin-right:2px;width:16px;
                    height:16px;
}
ul.pureCssMenu ul img {width:16px;
                       height:16px;
}
ul.pureCssMenu img.over{display:none}
ul.pureCssMenu li.dis a:hover img.over{display:none !important}
ul.pureCssMenu li.dis a:hover img.def {display:inline !important}
ul.pureCssMenu li:hover > a img.def  {display:none}
ul.pureCssMenu li:hover > a img.over {display:inline}
ul.pureCssMenu a:hover img.over,ul.pureCssMenu a:hover ul img.def,ul.pureCssMenu a:hover a:hover img.over{display:inline}
ul.pureCssMenu a:hover img.def,ul.pureCssMenu a:hover ul img.over,ul.pureCssMenu a:hover a:hover img.def{display:none}
ul.pureCssMenu a:hover ul{display:block}
ul.pureCssMenu span{
    display:block;
    background-image:url(../img/arr_white.gif);
    background-position:right center;
    background-repeat: no-repeat;
    padding-right:12px;}
ul.pureCssMenu li:hover>a>span{	background-image:url(../img/arrv_white.gif);
}
ul.pureCssMenu a:hover span{	_background-image:url(../img/arrv_white.gif)}
ul.pureCssMenu ul span,ul.pureCssMenu a:hover table span{background-image:url(../img/arr_white.gif)}