/* 
    Document   : style
    Created on : Jul 21, 2012, 7:55:51 PM
    Author     : César Bolaños [cbolanos]
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body {
    background: #BABAC0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: #333;
}

#container {
    background: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 0 auto;
    width: 900px;
}

#header {
    background: #F3F6FB url(../img/banner-900x150.jpg) no-repeat;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 190px;
    position: relative;
}

#user {
    float: right;
    position: relative;
    top: 125px;
}

#user li {
    float: left;
    margin: 0px 10px 0px 0px;
    margin-left: 10px;
}

#user a {
    color: #004666;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 900;
    text-decoration: none;
}

#corpse {
    background: #E3E7EE;
    height: 400px;
    position: absolute;
    top: 193px;
}

.claro-icon {
    background: #E5E9F0 url(../img/claro-48x48.png) no-repeat left !important;
}

.movistar-icon {
    background: #E5E9F0 url(../img/movistar-48x48.png) no-repeat left !important;
}

